		<script>
		function comingSoon(){
			alert("Please RSVP by emailing Suhasini - suhasinic@gmail.com");
		}
		</script>

		<div class="twelve columns offset-by-two center">
			<div class="menu">
				<span><a href="our-story.html">Our Story</a></span>
				<span><a href="our-family.html">Who's Who</a></span>
				<span><a href="events.html">Events</a></span>
				<span><a href="travel.html">Travel</a></span>
				<span><a href="photos.html">Photos</a></span>
				<span><a href="registry.html">Registry</a></span>
				<span><a href="todo.html">To Do</a></span>
			</div>
		</div>

