		{% include head.html %}
		

		<div class="twelve columns offset-by-two center">
			<img class="scale-with-grid" src="images/woods.jpg">
		</div>
		<div class="twelve columns offset-by-two center section">
			<h2>Events</h2>
		</div>

		<div class="eight columns offset-by-four content">
			<p class="center">Friday, June 21, 2013 <br/><strong>Wedding + Reception</strong><br />Villa Montalvo - Saratoga, CA</p>

			<p>The wedding ceremony will be held for our close family and select guests at Villa Montalvo in Saratoga on Friday, June 21. The ceremony will begin at 4:00 pm and will be followed by a night of dinner, drinks and dancing.</p>

			<br />

			<p class="center">Saturday, June 21, 2013 <br/><strong>San Francisco Celebration</strong><br />Bluxome Street Winery - San Francisco, CA</p>

			<p>We wanted to have a big celebration in the city with all of our friends; so we are planning an epic party for Saturday, June 22 at the Bluxome Street Winery in SOMA, SF. Get ready for a night of tasty eats + libations -- don't forget your dancing shoes!</p>

		</div>

		<div class="ten columns offset-by-three center">
		
			<hr>

		</div>

		{% include nav.html %}

		{% include footer.html %}