		{% include head.html %}
		

		<div class="twelve columns offset-by-two center">
			<img class="scale-with-grid" src="images/piccino.jpg">
		</div>
		<div class="twelve columns offset-by-two center section">
			<h2>Who's Who</h2>
		</div>

		<div class="eight columns offset-by-four content">
			<p>We are saving up for some exciting times in our future. From honeymooning in Paris and Turkey to getting Ashby a new puppy friend.</p>

			<p>We've also registerd at Heath Ceramics and Bed Bath & Beyond.</p>
		
		</div>

		<div class="ten columns offset-by-three center">
		
			<hr>

		</div>

		{% include nav.html %}

		{% include footer.html %}