		{% include head.html %}
		

		<div class="twelve columns offset-by-two center">
			<img class="scale-with-grid" src="images/piccino.jpg">
		</div>
		<div class="twelve columns offset-by-two center section">
			<h2>Who's Who</h2>
		</div>

		<div class="eight columns offset-by-four content">
			<div><img src="images/sheila.png">Sheila - Lorem ipsum dolor ipsum dolor.</div>
		
		</div>

		<div class="ten columns offset-by-three center">
		
			<hr>

		</div>

		{% include nav.html %}

		{% include footer.html %}