		{% include head.html %}
		

		<div class="twelve columns offset-by-two center">
			<img class="scale-with-grid" src="images/piccino.jpg">
		</div>
		<div class="twelve columns offset-by-two center section">
			<h2>Who's Who</h2>
		</div>

		<div class="twelve columns offset-by-two content">

		<div class="row">
			<div class="six columns alpha">
			<div class="who">
				<div class="who-image center"><img src="images/sheila.png"></div>
				<div class="who-bio center"><strong>Sheila</strong> <br/>Lorem ipsum dolor ipsum dolor.</div>
			</div>
			<div class="who">
				<div class="who-image center"><img src="images/candice.png"></div>
				<div class="who-bio center"><strong>Candice</strong> <br/>Lorem ipsum dolor ipsum dolor.</div>
			</div>
			<div class="who">
				<div class="who-image center"><img src="images/sapna.png"></div>
				<div class="who-bio center"><strong>Sapna</strong> <br/>Lorem ipsum dolor ipsum dolor.</div>
			</div>
			<div class="who">
				<div class="who-image center"><img src="images/beans.png"></div>
				<div class="who-bio center"><strong>Christina</strong> <br/>Lorem ipsum dolor ipsum dolor.</div>
			</div>
			</div>
			<div class="six columns omega">

			</div>

		</div></div>


		<div class="ten columns offset-by-three center">
		
			<hr>

		</div>

		{% include nav.html %}

		{% include footer.html %}