		{% include head.html %}
		


		<div class="twelve columns offset-by-two">

			  <div id="slides">
			    <img src="slideshow/a.jpg">
			    <img src="slideshow/b.jpg">
			    <img src="slideshow/c.jpg">
			    <img src="slideshow/d.jpg">
			    <img src="slideshow/e.jpg">
			    <img src="slideshow/f.jpg">
			    <img src="slideshow/g.jpg">
			    <img src="slideshow/h.jpg">
			    <img src="slideshow/i.jpg">
			    <img src="slideshow/j.jpg">
			    <img src="slideshow/k.jpg">
			    <img src="slideshow/l.jpg">
			    <img src="slideshow/m.jpg">
			    <img src="slideshow/n.jpg">
			    <img src="slideshow/o.jpg">
			    <img src="slideshow/p.jpg">
			    <img src="slideshow/q.jpg">
  			</div>

		</div>

		<div class="ten columns offset-by-three center">
		
			<hr>

		</div>

		{% include nav.html %}

		{% include footer.html %}