		{% include head.html %}
		


		<div class="twelve columns offset-by-two">

			  <div id="slides">
			    <img src="images/slideshow-a.jpg">
			    <img src="images/slideshow-b.jpg">
			    <img src="http://placehold.it/618x300">
			    <img src="http://placehold.it/618x300">
  			</div>

		</div>
		<div class="twelve columns offset-by-two center section">
			<h2>Photos</h2>
		</div>

		<div class="ten columns offset-by-three center">
		
			<hr>

		</div>

		{% include nav.html %}

		{% include footer.html %}