		{% include head.html %}
		

		<div class="twelve columns offset-by-two center">
			<img class="scale-with-grid" src="images/piccino.jpg">
		</div>
		<div class="twelve columns offset-by-two center section">
			<h2>Registry</h2>
		</div>

		<div class="twelve columns offset-by-two content">

			<div class="row">
			<div class="six columns alpha">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sapien risus, cursus nec sodales vitae, vestibulum quis lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras in vulputate orci. Mauris tempus lectus in quam ultricies mollis sodales purus commodo. Vivamus odio sem, viverra id posuere non, faucibus vel ipsum. Quisque a felis nisl, ut ultrices justo. Aliquam feugiat cursus eleifend. In eu arcu sit amet leo volutpat vulputate. Praesent et lacus id nulla ullamcorper auctor. Donec placerat pulvinar orci a ornare. Nullam scelerisque risus quis dui placerat dignissim. Vestibulum commodo facilisis lobortis. Sed ultricies magna dui, non malesuada velit.</p>

			<p>Aliquam erat volutpat. Duis gravida euismod laoreet. Cras consectetur lacus et dui ultrices mollis. Aliquam enim enim, rutrum et gravida nec, tincidunt et tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras cursus sapien et lectus aliquet viverra. Aenean nulla felis, malesuada vel blandit id, accumsan vitae lorem. Nunc vitae risus in sapien aliquam euismod id eu lorem. Vestibulum nunc velit, imperdiet sed varius et, vulputate vitae arcu. Duis sit amet sapien at sapien porta congue sit amet ut mi.</p>

			</div>

			<div class="six columns omega">
			<p>Ut semper, odio non faucibus consectetur, elit elit molestie purus, vitae eleifend quam ante sed quam. Fusce nibh diam, elementum vitae tempor convallis, semper non lacus. Pellentesque a purus urna. Sed vehicula, dui vitae viverra ultricies, massa risus elementum sapien, non scelerisque purus purus eu turpis. Aliquam at augue eu ante tincidunt fringilla a a turpis. Cras faucibus lacinia laoreet. Vestibulum non quam quam. Proin sed feugiat massa. Fusce condimentum eros ut elit eleifend semper tincidunt dui viverra.</p>
			</div>

			</div>

			<hr>

		</div>

		{% include nav.html %}

		{% include footer.html %}