		{% include head.html %}
		

		<div class="twelve columns offset-by-two center">
			<img class="scale-with-grid" src="images/piccino.jpg">
		</div>
		<div class="twelve columns offset-by-two center section">
			<h2>Registry</h2>
		</div>

		<div class="eight columns offset-by-four content">
			<p>We are so grateful that you are joining us for our special day. We are saving up for some exciting times in our future. From honeymooning in Paris and Turkey to getting Ashby a new puppy friend.</p>

			<p>If you'd like to go the registry route, we've had our eye on a few things at <a href="http://www.heathceramics.com/giftregistry/view/index/id/5a03747d1eb7ddc3c943992406f191dc/">Heath Ceramics</a>.</p>
		
		</div>

		<div class="ten columns offset-by-three center">
		
			<hr>

		</div>

		{% include nav.html %}

		{% include footer.html %}