		{% include head.html %}
		

		<div class="twelve columns offset-by-two center">
			<img class="scale-with-grid" src="images/ferry.jpg">
		</div>
		<div class="twelve columns offset-by-two center section">
			<h2>Events</h2>
		</div>

		<div class="eight columns offset-by-four content">
			<p>We are thrilled that you are travelling to the Bay Area to celebrate our wedding. From San Francisco to Saratoga - the Bay Area is a beautiful place with plenty of sights to see and things to eat. We know many of you are coming for the week. We'd love to share some of our favorite things to do:</p>

			<p class="center"><strong>Eat</strong></p>
			<p><strong>San Francisco:</strong> <a href="http://www.delfinasf.com/">Delfina</a>, <a href="http://www.dosasf.com/fillmore_home.htm">Dosa on Fillmore</a>, <a href="http://www.nopasf.com/">Nopa</a>, <a href="http://www.burmasuperstar.com/">Burma Superstar</a>, <a href="http://www.suppenkuche.com/">Suppenkuche</a>, <a href="http://www.centralkitchensf.com/">Central Kitchen</a> (Brunch), <a href="http://butlerandthechef.com/">Butler and the Chef</a>(Brunch)</p>
			<p><strong>Berkeley:</strong> <a href="http://cheeseboardcollective.coop/">Cheeseboard</a>, <a href="http://www.chezpanisse.com/menus/cafe-menu/">Chez Panisse Cafe</a>, <a href="http://www.vikschaatcorner.com/">Vik's Chaat Corner</a> and <a href="http://www.zacharys.com/">Zachary's</a></p>
			<p><strong>South Bay:</strong> <a href="http://www.amber-india.com/">Amber</a>, <a href="http://www.saravanabhavan.com/">Saravana Bhavan</a>, <a href="http://www.falafelsdrivein.com/">Falafel Drive In</a></p>

			<p class="center"><strong>Do</strong></p>
			<p>Farmers Market on Saturday Morning @ Ferry Building, de Young Museum, take a ferry to Sam's in Tiburon, rent bikes and ride across the Golden Gate Bridge, Santana Row, Computer History Museum, take a trip to Napa on Sunday</p>

			<p class="center"><strong>Play</strong> (for the kids!)</p>
			<p><a href="http://www.exploratorium.edu/">Exploratorium</a>, <a href="http://www.calacademy.org/">California Academy of Sciences<a/>, </p>

		</div>

		<div class="ten columns offset-by-three center">
		
			<hr>

		</div>

		{% include nav.html %}

		{% include footer.html %}