		{% include head.html %}
		

		<div class="twelve columns offset-by-two center">
			<img class="scale-with-grid" src="images/sutro.jpg">
		</div>
		<div class="twelve columns offset-by-two center section">
			<h2>Travel</h2>
		</div>

			<div class="eight columns offset-by-four content">
			<p class="center title"><strong>Venues</strong></p>

			<p class="center"><strong> Friday, June 21, 2013</strong><br/>Villa Montalvo<br/>15400 Montalvo Road, Saratoga, CA 95071</p>

			<p>We are having our ceremony at Villa Montalvo in Saratoga, California. Parking is available, but carpooling is highly recommended!</p>

			<br />

			<p class="center"><strong> Saturday, June 22, 2013</strong> <br/>Bluxome Street Winery<br/>53 Bluxome Street, San Francisco, CA 94107 </p>

			<p>Our celebration party will be at Bluxome Street Winery in San Francisco, California.There is plenty of street parking on Bluxome Street itself. The Caltrain station is also one block away.</p>

			<br />
			<br />


			<p class="center title"><strong>Airports</strong></p>

			<p><strong>SFO</strong> - San Francisco International Airport: This is a great option to fly into -- it is about 45 minutes way from Villa Montalvo in Saratoga; and a 20-minute drive to Bluxome Street Winery.</p>

			<p><strong>SJC</strong> - San Jose International Airport: This is a great option if you are planning on staying in the South Bay. It is located 20 minutes drive from Villa Montalvo.</p>

			<br />
			<br />


			<p class="center title"><strong>Hotel</strong></p>

			<p>We have blocked off rooms at two hotels. If you are interested, please call and refer to the Chandramouli/Panchadsaram wedding.</p>

			<p><strong>Best Western Santa Clara</strong> <br/>
			4341 El Camino Real <br/>
			408-244-3336</p>

			<p><strong>Embassy Suites SFO</strong> <br/>
			150 Anza Blvd, Burlingame, CA <br/>
			650-342-4600</p>

			<p>Here are other great hotel options in the Bay Area.</p>

			<p><strong>Cypress Hotel</strong> - Cupertino, CA<br/></p>
			<p><strong>Aloft Hotel</strong> - Cupertino, CA <br/></p>

			<p><strong>Orchard Hotel</strong> - San Francisco, CA <br/></p>
			<p><strong>Hilton Union Square</strong> - San Francisco, CA <br/></p>

						<br />
		
		</div>

		<div class="ten columns offset-by-three center">
		
			<hr>

		</div>

		{% include nav.html %}

		{% include footer.html %}