		{% include head.html %}
		

		<div class="twelve columns offset-by-two center">
			<img class="scale-with-grid" src="images/sutro.jpg">
		</div>
		<div class="twelve columns offset-by-two center section">
			<h2>Travel</h2>
		</div>

			<div class="eight columns offset-by-four content">
			<p>Venues:</p>

			<p>Friday, 6/21: We're having our ceremony at Villa Montalvo in Saratoga, California. It is located at 15400 Montalvo Road. Parking is available, but carpooling is highly recommended!</p>

			<p>Saturday, 6/22: Our celebration party will be at Bluxome Street Winery in San Francisco, California. The venue is located at 53 Bluxome Street in SOMA. There is plenty of street parking on Bluxome Street itself. The Caltrain station is also one block away.</p>

			<p>Airports:</p>

			<p>SFO: This is a great option to fly into -- it is about 45 minutes way from Villa Montalvo in Saratoga; and a 20-minute drive to Bluxome Street Winery.</p>

			<p>San Jose: This is another good option; as it is located very close to Villa Montalvo.</p>

			<p>Hotel:</p>

			<p>We have blocked off rooms at two hotels. If you are interested, please call and refer to the Chandramouli/Panchadsaram wedding.</p>

			<p>Best Western Santa Clara
			4341 El Camino Real
			408-244-3336</p>

			<p>Embassy Suites SFO
			150 Anza Blvd, Burlingame, CA
			650-342-4600</p>

			<p>We've also listed some great hotel options throughout the Bay Area!</p>
		
		</div>

		<div class="ten columns offset-by-three center">
		
			<hr>

		</div>

		{% include nav.html %}

		{% include footer.html %}